<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="False"
      throwExceptions="False"
      internalLogLevel="Off"
      internalLogFile="../Logs/nlog_internal.log">
  <targets>
    <!-- 履歴情報 -->
    <target name="history"
            xsi:type="File"
            encoding="UTF-8"
            writeBom="False"
            lineEnding="Default"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message}${onexception:${newline}${exception:format=Message, Type, ToString:separator=*}}"
            fileName="../Logs/${processname}_${date:format=yyyyMMdd}_0.log"
            archiveFileName="../Logs/${processname}_${date:format=yyyyMMdd}_{###}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            maxArchiveFiles="0" />
    <!-- 標準出力 -->
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} - ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="history" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
